main {
	padding: 40px;
	padding-top: 80px;
}

b, strong {
	font-weight: bolder;
}

.stack {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: start;
}

.stack.vertical {
	flex-direction: column;
}

.stack.top,
.example.stack {
	align-items: flex-start;
}

.stack.middle {
	align-items: center;
}

.stack.bottom {
	align-items: flex-end;
}

.stack.centered {
	justify-content: center;
}

.stack > .fill {
	flex-grow: 1;
	flex-shrink: 1;
}

.example + .example {
	border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 10px;
}

.example .pt-control {
	margin-top: 0;
	margin-bottom: 0;
}

.stack .pt-input-group + .pt-input-group,
.stack .pt-input-group + .pt-button,
.stack .pt-input-group + .pt-form-group,
.stack .pt-input-group + .pt-control,
.stack .pt-form-group + .pt-form-group,
.stack .pt-form-group + .pt-input-group,
.stack .pt-form-group + .pt-button,
.stack .pt-form-group + .pt-control,
.stack .pt-control + .pt-form-group,
.stack .pt-control + .pt-input-group,
.stack .pt-control + .pt-button,
.stack .pt-control + .pt-control,
.stack .pt-button + .pt-form-group,
.stack .pt-button + .pt-input-group,
.stack .pt-button + .pt-control {
	margin-left: 10px;
}

.stack .pt-button + .pt-button,
.stack .pt-button + .pt-popover-wrapper .pt-button,
.stack .pt-popover-wrapper + .pt-button {
	margin-left: 5px;
}

.stack .pt-button-group .pt-button,
.stack .pt-button-group .pt-button + .pt-popover-wrapper .pt-button,
.stack .pt-button-group .pt-popover-wrapper + .pt-button {
	margin-left: 0;
}

.stack > .pt-label {
	margin: 0;
}