main {
	padding: 40px;
	padding-top: 80px;
}

b, strong {
	font-weight: bolder;
}

.stack {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: start;
}

.stack.vertical {
	flex-direction: column;
}

.stack.top,
.example.stack {
	align-items: flex-start;
}

.stack.middle {
	align-items: center;
}

.stack.bottom {
	align-items: flex-end;
}

.stack.centered {
	justify-content: center;
}

.stack > .fill {
	flex-grow: 1;
	flex-shrink: 1;
}

.example + .example {
	border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 10px;
}

.example .pt-control {
	margin-top: 0;
	margin-bottom: 0;
}

.stack:not(.vertical) > * + * {
	margin-left: 10px;
}

.stack.vertical > * + * {
	margin-top: 10px;
}

.stack .pt-button + .pt-button,
.stack .pt-button + .pt-popover-wrapper .pt-button,
.stack .pt-popover-wrapper + .pt-button {
	margin-left: 5px;
}

.stack .pt-button-group .pt-button,
.stack .pt-button-group .pt-button + .pt-popover-wrapper .pt-button,
.stack .pt-button-group .pt-popover-wrapper + .pt-button {
	margin-left: 0;
}

.stack > .pt-label,
.pt-form-group .stack > .pt-label {
	margin-bottom: 0;
}

.pt-popover.card,
.pt-popover.card > .pt-popover-content {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pt-popover-content > .card {
	padding: 12px 12px 9px 12px;
}

.pt-popover-content > .card:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 8px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: linear-gradient(to right, #5d49c8 0%,#5d49c8 42%,#207cca 75%,#7db9e8 100%);
}

.pt-popover-content > .card:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	right: 0;
	height: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: white;
}

.codeable-info,
.pt-popover-content > .card.codeable-info {
	display: flex;
	flex-direction: column;
	padding-left: 52px;
	position: relative;
}

.codeable-info svg {
	position: absolute;
	top: 16px;
	left: 12px;
	padding: 4px;
	background-color: #5d49c8;
	border-radius: 4px;
}

.codeable-info .description {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 16px;
	font-weight: 700;
}

.codeable-info .coding {
	font-size: 12px;
	color: #666;
	margin-top: 2px;
}

.codeable-info .coding .system {
	margin-right: 6px;
}

.codeable-hoverable {
	cursor: default;
	border-bottom: 1px dashed #207cca;
}

.codeable-hoverable.pt-popover-wrapper {
	display: inline;
}

.codeable-hoverable:hover {
	border-bottom-width: 0;
	padding-bottom: 1px;
}

.hint .pt-popover-content {
	padding: 8px 12px;
}