
.bp3-callout {
	margin: 10px 0;
}

.bp3-tab-panel {
	margin-top: 10px;
}

.bp3-tag-input .bp3-input-ghost {
	width: 120px;
}

.bp3-input + .bp3-tag {
	margin-left: 5px;
}

.bp3-form-group {
	margin-top: 0;
	margin-bottom: 0;
}

.bp3-select-popover .bp3-menu {
	max-width: 400px;
	max-height: 300px;
	overflow: auto;
}

.bp3-button > .bp3-spinner:not(.bp3-svg-spinner),
.bp3-button > .bp3-spinner.bp3-small:not(.bp3-svg-spinner) {
	width: 20px;
}

label.bp3-label .bp3-popover-wrapper {
	display: inline-block;
	margin-top: 0;
}



/* Custom Callout Styles */
.bp3-callout {
	background-color: #f5f5f5;
	box-shadow: 0 0 0 1px rgba(61,70,79,.05), 0 1px 3px 0 rgba(61,70,79,.15);
	border-width: 3px 0 0;
	border-color: #686f76;
	border-style: solid;
	color: #28313b;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.bp3-callout .bp3-callout-title {
	color: inherit !important;
}

.bp3-callout.bp3-intent-primary,
.bp3-callout.bp3-intent-primary .bp3-icon {
	color: #2f5f9a;
	background-color: #f7f9fc;
	border-color: #346cb0;
}

.bp3-callout.bp3-intent-danger,
.bp3-callout.bp3-intent-danger .bp3-icon {
	color: #cc4747;
	background-color: #fcf9f9;
	border-color: #c14848;
}

.bp3-callout.bp3-intent-warning,
.bp3-callout.bp3-intent-warning .bp3-icon {
	color: #d69932;
	background-color: #fffdf9;
	border-color: #f7c46c;
}

.bp3-callout.bp3-intent-success,
.bp3-callout.bp3-intent-success .bp3-icon {
	color: #038d7a;
	background-color: #f5fbfa;
	border-color: #00a28a;
}