button > svg,
button > svg > path,
button > svg > title {
  pointer-events: none;
}

.pt-callout {
	margin: 10px 0;
}

.pt-tab-panel {
	margin-top: 10px;
}

.pt-switch {
	user-select: none;
}

.required-label {
	padding-left: 5px;
	font-size: 12px;
}

.pt-tag-input .pt-input-ghost {
	width: 120px;
}

.pt-input + .pt-tag {
	margin-left: 5px;
}

.pt-form-group {
	margin-top: 0;
	margin-bottom: 0;
}

.pt-select-popover .pt-menu {
	max-width: 400px;
	max-height: 300px;
	overflow: auto;
}

.pt-select-popover .pt-input-group {
	margin: 5px 5px 2px 5px;
}

.pt-select-popover .pt-popover-content {
	padding: 0;
}

.pt-button > .pt-spinner:not(.pt-svg-spinner),
.pt-button > .pt-spinner.pt-small:not(.pt-svg-spinner) {
	width: 20px;
}

label.pt-label .pt-popover-wrapper {
	display: inline-block;
	margin-top: 0;
}



/* Custom Callout Styles */
.pt-callout {
	background-color: #f5f5f5;
	box-shadow: 0 0 0 1px rgba(61,70,79,.05), 0 1px 3px 0 rgba(61,70,79,.15);
	border-width: 3px 0 0;
	border-color: #686f76;
	border-style: solid;
	color: #28313b;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.pt-callout .pt-callout-title {
	color: inherit !important;
}

.pt-callout.pt-intent-primary,
.pt-callout.pt-intent-primary .pt-icon {
	color: #2f5f9a;
	background-color: #f7f9fc;
	border-color: #346cb0;
}

.pt-callout.pt-intent-danger,
.pt-callout.pt-intent-danger .pt-icon {
	color: #cc4747;
	background-color: #fcf9f9;
	border-color: #c14848;
}

.pt-callout.pt-intent-warning,
.pt-callout.pt-intent-warning .pt-icon {
	color: #d69932;
	background-color: #fffdf9;
	border-color: #f7c46c;
}

.pt-callout.pt-intent-success,
.pt-callout.pt-intent-success .pt-icon {
	color: #038d7a;
	background-color: #f5fbfa;
	border-color: #00a28a;
}